root = true

[*]
indent_style = space
indent_size = 4

[{*.ts,*.tsx,*.js,*.jsx,*.css,*.scss}]
insert_final_newline = true

[{package.json,package-lock.json,manifest.json}]
indent_size = 2

[*.yml]
indent_size = 2
