/.idea
/.vscode
node_modules
.DS_Store

/dist
/docs-site
/docs/api

/.env
/.eslintcache
/.vitepress/.cache
/coverage

/llama/compile_commands.json
/llama/llama.cpp
/llama/llama.cpp.tag.json
/llama/gitRelease.bundle
/llama/.temp
/llama/build
/llama/Release
/llama/Debug
/llama/xpack/cache
/llama/xpack/store
/llama/xpack/xpacks
/llamaBins
