/.idea
/.vscode
node_modules
.DS_Store
*.cpuprofile

/dist
/docs-site
/docs/api
/templates/packed

/.env
/.eslintcache
/.vitepress/.cache
/test/.models
/test/temp
/test/.temp
/temp
/coverage
/test-runner-profile

/llama/compile_commands.json
/llama/llama.cpp
/llama/llama.cpp.lock
/llama/llama.cpp.info.json
/llama/lastBuild.json
/llama/gitRelease.bundle
/llama/.temp
/llama/.cache
/llama/build
/llama/.idea
/llama/.vscode
/llama/cmake-build-debug
/llama/localBuilds
/llama/Release
/llama/Debug
/llama/xpack/cache
/llama/xpack/store
/llama/xpack/xpacks
/llama/xpack/cmakeInstall.lock
/bins
