:root {
    --vp-c-brand-1: #b26134;
    --vp-c-brand-2: #cc6e3a;
    --vp-c-brand-3: #cd8156;
    --vp-c-brand-soft: rgb(255 156 100 / 14%);
}

.dark {
    --vp-c-brand-1: #ffc7a8;
    --vp-c-brand-2: #e78e5c;
    --vp-c-brand-3: #dd773e;
    --vp-c-brand-soft: rgb(255 156 100 / 16%);
}

:root {
    --theme-color-1: #faad5e;
    --theme-color-2: #bd44c5;

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        108deg,
        var(--theme-color-2) 16%,
        var(--theme-color-1)
    );

    --vp-home-hero-image-background-image: linear-gradient(
        108deg,
        var(--theme-color-1) 50%,
        var(--theme-color-2) 50%
    );
    --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(72px) opacity(0.8);
    }
}

.VPNavBar .divider-line:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 32px;
    background: linear-gradient(var(--vp-c-bg), transparent 70%);
    content: "";
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.VPNavBar:not(.home) .divider-line[class] {
    background-color: transparent;
}
.VPNavBar:not(.home) .divider-line:after {
    opacity: 1;
}

@media (min-width: 960px) {
    .VPNavBar:not(.home.top) .divider-line[class] {
        background-color: transparent;
    }
    .VPNavBar:not(.home.top) .divider-line:after {
        opacity: 1;
    }

    .VPNavBar:not(.has-sidebar):not(.home.top) .divider[class] {
        background-color: transparent;
    }
}

.VPLocalNav[class] {
    border-bottom: none;
}
.VPLocalNav[class]:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 32px;
    background: linear-gradient(var(--vp-c-bg), transparent 70%);
    content: "";
    transition: opacity 0.5s;
    pointer-events: none;
    z-index: -1;
}

.main-badges>p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.VPSidebarItem .text {
    word-break: break-word;
    line-height: 20px;
    padding: 6px 0px;
}

a.inlineCodeLink {
    /*text-decoration: none;*/
    text-underline-offset: 4px;
    color: transparent;
}
a.inlineCodeLink:hover {
    color: inherit;
}

a.inlineCodeLink pre>code {
    border-radius: 8px;
    padding: 3px 6px;
    background-color: var(--vp-code-bg);
}

img[src$="assets/logo.roundEdges.png"],
img[src$="assets/logo.png"] {
    box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 16%), 0px 8px 64px 0px rgb(0 0 0 / 24%);
    border-radius: 14px;
    margin-bottom: 12px;
}

div[align="center"] > img[alt="Star please"][src$="assets/star.please.roundEdges.png"] ~ p[align="right"],
div[align="center"] > img[alt="Star please"][src$="assets/star.please.png"] ~ p[align="right"] {
    max-width: 360px;
    margin-top: -12px;
}
div[align="center"] > img[alt="Star please"][src$="assets/star.please.roundEdges.png"] ~ p[align="right"]>*,
div[align="center"] > img[alt="Star please"][src$="assets/star.please.png"] ~ p[align="right"]>* {
    display: none;
}
div[align="center"] > img[alt="Star please"][src$="assets/star.please.roundEdges.png"] ~ p[align="right"]>:first-of-type,
div[align="center"] > img[alt="Star please"][src$="assets/star.please.png"] ~ p[align="right"]>:first-of-type {
    display: block;
}


.twoslash .twoslash-hover {
    border-bottom: none;
}
.twoslash .twoslash-hover:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    background-color: var(--twoslash-underline-color);
    border-radius: 2px;
    overflow: hidden;
    margin-top: -3px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0s 0.3s ease-in-out;
    transform: scaleX(0.72);
    transform-origin: 0% 50%;
}
.twoslash:hover .twoslash-hover:after,
.twoslash:has(.twoslash-hover.v-popper--shown) .twoslash-hover:after {
    opacity: 0.4;
    transform: scaleX(1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.twoslash .twoslash-hover.v-popper--shown:after,
.twoslash:has(.twoslash-hover.v-popper--shown) .twoslash-hover.v-popper--shown:after {
    opacity: 0.84;
    transform: scaleX(1);
}

.v-popper--theme-dropdown .v-popper__inner {
    box-shadow: 0 6px 30px 0px rgb(0 0 0 / 32%);
    border-radius: 12px;
}

.twoslash-floating {
    --twoslash-border-color: color-mix(in srgb, var(--vp-c-border), transparent 64%);
}
.twoslash-floating .v-popper__inner {
    border: none;
}

.twoslash-floating .v-popper__arrow-container {
    --twoslash-border-color: transparent;
}

.twoslash-popup-container>.twoslash-popup-code>pre.shiki:only-child:has(>code:only-child) {
    margin-top: 0px;
    margin-bottom: 0px;
}

.twoslash-floating .twoslash-popup-docs p,
.twoslash-floating .twoslash-popup-error p {
    text-wrap: wrap;
}

.VPFeature {
    border-radius: 16px;
}

.vp-doc :not(pre) > code {
    border-radius: 8px;
}

@media (min-width: 768px) {
    .DocSearch-Button {
        border-radius: 12px;
    }
}

@media (min-width: 640px) {
    .vp-doc div[class*='language-'], .vp-block {
        border-radius: 12px;
    }
}

.VPNavScreenAppearance {
    border-radius: 12px;
}

div.VPLocalSearchBox > .shell {
    border-radius: 12px;
    box-shadow: 0px 4px 8px 0px rgba(0 0 0 / 8%), 0px 6px 24px 0px rgba(0 0 0 / 16%);
}

@media (max-width: 767px) {
    div.VPLocalSearchBox > .shell {
        border-radius: 0;
    }
}

div.VPLocalSearchBox > .shell > .search-bar {
    border-radius: 8px;
}
div.VPLocalSearchBox > .shell > .results > li > .result {
    border-radius: 8px;
}

div.search-keyboard-shortcuts[class] kbd {
    border-radius: 8px;
}

.vp-doc [class*='language-'] > button.copy {
    border-radius: 8px;
}

.vp-doc [class*='language-'] > button.copy.copied, .vp-doc [class*='language-'] > button.copy:hover.copied {
    border-radius: 0 8px 8px 0;
}

.vp-doc [class*='language-'] > button.copy.copied::before, .vp-doc [class*='language-'] > button.copy:hover.copied::before {
    border-radius: 8px 0 0 8px;
}

.language-ts > .lang,
.language-shell > .lang {
    display: none;
}

.vpi-social-npm {
    border-radius: 4px;
}

.custom-block {
    border-radius: 12px;
}

.pager-link[class] {
    border-radius: 12px;
}

.vp-doc table {
    border-style: hidden;
    border-radius: 12px;
    outline: solid 1px var(--vp-c-divider);
    outline-offset: -1px;
    max-width: max-content;
}

.DocSearch-Button-Keys {
    margin-right: -1px;
}

.DocSearch-Button .DocSearch-Button-Key {
    border-radius: 8px 0 0 8px;
}

.DocSearch-Button .DocSearch-Button-Key + .DocSearch-Button-Key {
    border-radius: 0 8px 8px 0;
}
