BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 140
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignTrailingComments: false
SpaceAfterTemplateKeyword: false
AllowShortBlocksOnASingleLine: false
MaxEmptyLinesToKeep: 3
NamespaceIndentation: None
CommentPragmas: '^[^ ]'
FixNamespaceComments: false
IndentAccessModifiers: true
SpaceAfterCStyleCast: false
PointerAlignment: Left
IndentCaseLabels: true
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBlock: true
KeepEmptyLinesAtTheStartOfBlocks: false
DerivePointerAlignment: false
AlwaysBreakTemplateDeclarations: No
DeriveLineEnding: false
UseCRLF: false
AllowAllArgumentsOnNextLine: true
PackConstructorInitializers: CurrentLine
AlignAfterOpenBracket: BlockIndent
BraceWrapping:
  AfterStruct: false
  AfterClass: false
  AfterUnion: false
  AfterEnum: false
  AfterControlStatement: false
  AfterFunction: false
  AfterNamespace: false
  AfterExternBlock: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
