.tsd-typography h4,
.tsd-typography .tsd-index-panel h3,
.tsd-index-panel .tsd-typography h3,
.tsd-typography h5,
.tsd-typography h6 {
    margin: 1.2em 0 0.4em 0;
}

code {
    padding: 4px 6px;
    border-radius: 4px;
}

pre {
    border-radius: 4px;
    padding: 8px 12px;
    border: none;
    overflow-x: auto;
}

.tsd-page-toolbar {
    border-bottom: none;
    background: color-mix(in srgb, var(--color-background-secondary), transparent 20%);
    box-shadow: 0px -148px 86px 86px #000000;
}

.tsd-page-toolbar .tsd-toolbar-contents {
    padding: 8px 2rem;
}

.tsd-page-toolbar:before {
    width: 100%;
    position: absolute;
    content: "";
    height: 100%;
    z-index: -1;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

@media (min-width: 1200px) {
    .page-menu,
    .site-menu {
        top: 82px;
    }
}

.tsd-navigation a,
.tsd-navigation summary > span,
.tsd-page-navigation a {
    margin: 4px 0px;
    padding: 0.25rem 0.55rem 0.25rem 0.3rem;
    border-radius: 4px;
}.tsd-navigation a:not(:has(> svg)),
.tsd-navigation summary > span:not(:has(> svg)),
.tsd-page-navigation a:not(:has(> svg)) {
    padding: 0.25rem 0.55rem 0.25rem 0.4rem;
}

.tsd-navigation a:hover,
.tsd-navigation summary > span:hover,
.tsd-page-navigation a:hover {
    /*opacity: 0.8;*/
    text-decoration: none;
    background-color: color-mix(in srgb, currentColor 12%, transparent);
}

.tsd-navigation a.current,
.tsd-page-navigation a.current {
    border-radius: 4px;
}
.tsd-navigation a.current:hover,
.tsd-page-navigation a.current:hover {
    border-radius: 4px;
    background-color: color-mix(in srgb, var(--color-active-menu-item), transparent 16%);
}

pre {
    position: relative;
}

pre > button {
    background-color: color-mix(in srgb, currentColor 12%, transparent);
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    max-height: calc(100% - 8px * 2);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    top: 8px;
    right: 8px;
}
pre > button:hover {
    background-color: color-mix(in srgb, currentColor 18%, transparent);
}

h3 > svg {
    vertical-align: middle;
    margin-inline-end: 6px;
    transform-origin: 48% 38%;
}

h5 > svg {
    vertical-align: middle;
    margin-inline-end: 6px;
    transform-origin: 48% 38%;
}

#tsd-search {
    border-radius: 4px;
}

ul.tsd-hierarchy>li {
    margin: 12px 0px;
    list-style: disc;
}

ul.tsd-hierarchy {
    padding-inline-start: 24px;
}

code.tsd-tag {
    border: none;
    box-shadow: 0px 0px 8px -2px var(--color-accent);
}

h1 code.tsd-tag:first-of-type {
    margin-left: 0.55em;
}

.tsd-page-toolbar a.title:hover {
    text-decoration: none;
    background-color: color-mix(in srgb, currentColor 12%, transparent);
    padding: 4px 8px;
    margin: -4px -8px;
    border-radius: 4px;
}

a.tsd-index-link {
    padding: 4px !important;
}

a.tsd-index-link:hover {
    text-decoration: none;
    background-color: color-mix(in srgb, currentColor 12%, transparent);
    border-radius: 8px;
}

h1:not(.tsd-anchor-link, .tsd-returns-title) > a:hover,
h2:not(.tsd-anchor-link, .tsd-returns-title) > a:hover,
h3:not(.tsd-anchor-link, .tsd-returns-title) > a:hover,
h4:not(.tsd-anchor-link, .tsd-returns-title) > a:hover,
h5:not(.tsd-anchor-link, .tsd-returns-title) > a:hover,
h6:not(.tsd-anchor-link, .tsd-returns-title) > a:hover {
    text-decoration: none;
    color: var(--color-text);
}

h1:not(.tsd-anchor-link, .tsd-returns-title) > a:hover:before,
h2:not(.tsd-anchor-link, .tsd-returns-title) > a:hover:before,
h3:not(.tsd-anchor-link, .tsd-returns-title) > a:hover:before,
h4:not(.tsd-anchor-link, .tsd-returns-title) > a:hover:before,
h5:not(.tsd-anchor-link, .tsd-returns-title) > a:hover:before,
h6:not(.tsd-anchor-link, .tsd-returns-title) > a:hover:before {
    content: "";
    position: absolute;
    height: calc(1ex + (1lh - 1ex)/2);
    margin-top: calc(0.2 * 1ex);
    margin-left: -8px;
    width: 3px;
    background-color: currentColor;
    border-radius: 9999px;
    opacity: 0.4;
    pointer-events: none;
}

#tsd-search.has-focus {
    background-color: color-mix(in srgb, var(--color-accent), transparent 60%);
}

#tsd-search .field input {
    padding: 12px 16px;
}

#tsd-search .results li {
    padding: 0px 16px;
}

#tsd-search .results li {
    padding: 0px 16px;
    background-color: color-mix(in srgb, var(--color-background), transparent 20%);
}

#tsd-search .results li:nth-child(even) {
    background-color: color-mix(in srgb, var(--color-background), transparent 20%);
}

#tsd-search .results li.current,
#tsd-search .results li:hover {
    background-color: color-mix(in srgb, var(--color-accent), transparent 20%);
}

#tsd-search.has-focus .results {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.container-main {
    margin-top: 16px;
}

img[src$="assets/logo.v3.roundEdges.png"],
img[src$="assets/logo.v3.roundEdges.avif"],
img[src$="assets/logo.v3.png"] {
    box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 16%), 0px 8px 64px 0px rgb(0 0 0 / 24%);
    border-radius: 14px;
}

div[align="center"] > img[alt="Star please"][src$="assets/star.please.roundEdges.png"] ~ p[align="right"],
div[align="center"] > img[alt="Star please"][src$="assets/star.please.png"] ~ p[align="right"] {
    max-width: 360px;
}
div[align="center"] > img[alt="Star please"][src$="assets/star.please.roundEdges.png"] ~ p[align="right"]>*,
div[align="center"] > img[alt="Star please"][src$="assets/star.please.png"] ~ p[align="right"]>* {
    display: none;
}
div[align="center"] > img[alt="Star please"][src$="assets/star.please.roundEdges.png"] ~ p[align="right"]>:first-of-type,
div[align="center"] > img[alt="Star please"][src$="assets/star.please.png"] ~ p[align="right"]>:first-of-type {
    display: block;
}
