:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--background-color);
    color: var(--text-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --transition-easing: cubic-bezier(0.4, 0.0, 0.2, 1);
}

:root {
    --background-color: light-dark(#eeeeee, #242424);
    --text-color: light-dark(#242424, #eeeeee);

    --button-background-color: light-dark(rgba(255 255 255 / 64%), rgba(255 255 255 / 8%));
    --button-hover-border-color: light-dark(#646cff, #646cff);

    --link-color: light-dark(#646cff, #646cff);
    --link-hover-color: light-dark(#747bff, #535bf2);
    --star-link-color: light-dark(#e09c1c, #eac54f);
    --star-hover-color: light-dark(#daaa52, #c7a027);

    --panel-background-color: light-dark(rgba(0 0 0 / 52%), rgba(0 0 0 / 48%));
    --panel-text-color: light-dark(#ffffff, #eeeeee);
    --panel-button-background-color: light-dark(rgba(0 0 0 / 24%), rgba(255 255 255 / 8%));
    --panel-button-hover-border-color: light-dark(var(--panel-text-color), var(--button-hover-border-color));
    --panel-progress-color: light-dark(rgba(255 255 255 / 8%), rgba(255 255 255 / 4%));
    --panel-box-shadow: 0px 4px 8px 0px rgba(0 0 0 / 8%), 0px 6px 24px 0px rgba(0 0 0 / 16%);

    --error-border-color: light-dark(rgba(239 83 80 / 100%), rgba(239 83 80 / 100%));

    --user-message-background-color: light-dark(rgba(0 0 0 / 16%), rgba(0 0 0 / 48%));
    --user-message-text-color: light-dark(#242424, var(--text-color));

    --actions-block-background-color: light-dark(rgba(0 0 0 / 4%), rgba(0 0 0 / 16%));
    --actions-block-border-color: light-dark(rgba(0 0 0 / 4%), rgba(0 0 0 / 16%));
    --actions-block-box-shadow: 0px 4px 8px 0px rgba(0 0 0 / 2%), 0px 6px 24px 0px rgba(0 0 0 / 8%);

    --code-block-background-color: light-dark(rgba(0 0 0 / 4%), rgba(0 0 0 / 16%));

    --update-badge-background-color: light-dark(rgba(0 0 0 / 4%), rgba(0 0 0 / 16%));
    --update-badge-border-color: light-dark(rgba(0 0 0 / 4%), rgba(0 0 0 / 16%));
    --update-badge-box-shadow: 0px 4px 8px 0px rgba(0 0 0 / 2%), 0px 6px 24px 0px rgba(0 0 0 / 8%);

    --message-table-outline-color: light-dark(rgba(0 0 0 / 8%), rgba(255 255 255 / 6%));
    --message-table-background-color: light-dark(rgba(0 0 0 / 0%), rgba(0 0 0 / 12%));
    --message-table-even-background-color: light-dark(rgba(0 0 0 / 4%), rgba(255 255 255 / 6%));
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

a {
    font-weight: 500;
    color: var(--link-color);
    text-decoration: inherit;

    &:hover {
        color: var(--link-hover-color);
    }
}

code {
    background-color: color-mix(in srgb, currentColor, transparent 84%);
    padding: 0.1em 0.3em;
    border-radius: 0.4em;
    font-size: 1.2em;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--button-background-color);
    cursor: pointer;
    transition: border-color 0.3s var(--transition-easing), opacity 0.3s var(--transition-easing);
    color: var(--text-color);
    fill: var(--text-color);

    &[disabled] {
        opacity: 0.52;
        pointer-events: none;
    }

    &:hover,
    &:focus,
    &:focus-visible {
        border-color: var(--button-hover-border-color);
    }
}

