name: Test
on:
  push:
    branches:
      - master
  pull_request_target:
    branches-ignore:
      - master
    types:
      - synchronize
      - opened
      - reopened
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Install modules
        run: npm ci
      - name: ESLint
        run: npx eslint --ext .js --ext .ts .
      - name: TypeScript validity
        run: npm run test:typescript
