name: Test
on:
  push:
    branches:
      - master
      - beta
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
      - name: Install modules
        run: npm ci
      - name: ESLint
        run: npx eslint --ext .js --ext .ts .
      - name: TypeScript validity
        run: npm run test:typescript

  compile-docs:
    name: Test docs compilation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install modules
        run: npm ci
      - name: Compile docs
        run: npm run docs:build
